.collaboration-container {
  width: 90%;
  margin: auto;
}
.selector-container {
  width: 460px;
  min-height: 150px;
  // background-color: $gray-300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.function-selector {
  display: flex;
}
.failure-mode-selector {
  display: flex;
}

.share-link{
  height: 38px;
}

.chevron {
  width: 30px;
  display: flex;
  align-items: center;
  font-size: 32px;
  color: #c3c3c3;
  cursor: pointer;
  &.right {
    display: flex;
    justify-content: flex-end;
  }
}

.f-container{
  min-height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fm-container{
  min-height: 50px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fmf-connector {
  height: 50px;
  border-left: 2px solid #c3c3c3;
}

.rounded-15 {
  border-radius: 15px;
}

.cause-effect-title {
  text-align: center;
  margin: 0 0 20px 0;
  & h2 {
    color: $blue;
    font-size: 24px;
  }
}

.cause-effect-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.effect-card {
  background-color: transparent;
}

.cause-card {
  background-color: transparent;
}

.add-new {
  opacity: .5;
}

.collaboration-top-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

#rpn-value {
  display: flex;
  margin-right: 15px;
  p {
    color: #8E8F90;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}

#rpn-label {
  margin-right: 5px;
}

#rpn-score {
  border: 2px solid #c3c3c3;
  border-radius: 50%;
  width: 75px;
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.rpn-yellow {
  color: $orange;
  border: 2px solid $orange !important;
}
.rpn-red {
  color: $red;
  border: 2px solid $red !important;
}
.rpn-green {
  color: $green;
  border: 2px solid $green !important;
}


// // Smallest device
@media (min-width: 100px) and (max-width: 768px) {
  .cause-effect-grid {
    grid-template-columns: 1fr;
  }
}
// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cause-effect-grid {
    grid-template-columns: 1fr;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cause-effect-grid {
    grid-template-columns: 1fr;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cause-effect-grid {
    grid-template-columns: 1fr;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1900px) {
  .cause-effect-grid {
    grid-template-columns: 1fr 1fr;
  }
}
