.selector-container {
  width: 400px;
  min-height: 150px;
  // background-color: $gray-300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.function-selector {
  display: flex;
}
.failure-mode-selector {
  display: flex;
}

.chevron {
  width: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &.right {
    display: flex;
    justify-content: flex-end;
  }
}

.hidden {
  display: none;
}
.active {
  display: block;
}

.f-fm-container{
  min-height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fmf-connector {
  height: 50px;
  border-left: 1px solid black;
}

.rounded-15 {
  border-radius: 15px;
}

.cause-effect-title {
  text-align: center;
  margin: 0 0 20px 0;
  & h2 {
    color: $blue;
    font-size: 24px;
  }
}

.cause-effect-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.effect-card {
  background-color: salmon;
}

.cause-card {
  background-color: seagreen;
}

.add-new {
  opacity: .5;
}

// // Smallest device
@media (min-width: 100px) and (max-width: 768px) {
  .cause-effect-grid {
    grid-template-columns: 1fr;
  }
}
// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cause-effect-grid {
    grid-template-columns: 1fr;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cause-effect-grid {
    grid-template-columns: 1fr;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cause-effect-grid {
    grid-template-columns: 1fr;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1900px) {
  .cause-effect-grid {
    grid-template-columns: 1fr 1fr;
  }
}
