<!-- Element Logic -->
<% element_class = element.class.to_s.downcase %>
<% element_icon_path = element.class.to_s.downcase %>

<!-- Card HTML -->
<div class="card-background">
  <div class="card-icon-box <%= element_class %>">
    <%= image_tag( "icons/#{element_icon_path}", class: "card-icon") %>
  </div>
  <div class="element-description">
    <%= element.description %>
  </div>
  <div class="edit-card">
      <a data-toggle="modal" data-target="#editFmeaDetails" href="#"><i class="fas fa-pen"></i></a>
  </div>
</div>