<!-- When you render this component, pass it the object as an element (element: object) -->

<div class="card-structure-main">
  <div class="card-structure-top"></div>
  <div class="card-structure-bottom">
    <div class="card-structure-bottom-left">
      <div class="left-top"></div>
      <div class="left-bottom"></div>
    </div>
    <div class="card-structure-bottom-right is-<%= element.class.name.downcase %>" <%= "data-target='edit-fmea.#{element.class.name.downcase}'" %> data-action="click->edit-fmea#select">
      <%= render "fmeas/edit_fmea/card_content", element: element %>
    </div>
  </div>
</div>
