<!-- When you render this component, pass it the object as an element (element: object) -->

<div class="card-structure-main">
  <div class="card-structure-top"></div>
  <div class="card-structure-bottom">
    <div class="card-structure-bottom-left">
      <div class="left-top"></div>
      <div class="left-bottom"></div>
    </div>
    <div class="card-structure-bottom-right" data-target="edit-fmea.card" data-action="click->edit-fmea#select" data-card-type="<%= element.class.name.downcase  %>" data-id="<%= element.id %>"  data-parent-id="<%= element.parent.id %>">
      <%= render "fmeas/edit_fmea/card_content", element: element %>
    </div>
  </div>
</div>
