<%= render 'fmeas/edit_fmea/fmea_header', fmea: @fmea %>
<div class="" data-controller="edit-fmea" data-edit-fmea-selected-item-type="" data-edit-fmea-selected-item-id="">
  <div class="all-editing-page-elements">
    <div>
      <%= render 'fmeas/edit_fmea/add_cards', fmea: @fmea %>
    </div>
    <div>
      <% @fmea.functions.each do |function| %>
        <div class="one-function" data-target="one-function">
          <div class="one-function-top">
            <%= render "fmeas/edit_fmea/card_structure", element: function %>
          </div>
        <div class="failure-modes-structure">
          <% function.failure_modes.each do |failure_mode| %>
          <%= render "fmeas/edit_fmea/failure_modes_structure", failure_mode: failure_mode %>
        <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
