<div class="container my-5 contact-container">
  <div  class="row my-3 d-flex justify-content-center">
    <div class="col-10 text-center">
      <h1>Executive Team</h1>
      <br>
      <div class="d-flex justify-content-around">
        <div>
          <%= image_tag("Tom.jpg", class: "founder-pic") %>
          <br>
          <br>
          <h3>Thomas J. Murray</h3>
        </div>
        <div>
          <%= image_tag("Ben.jpg", class: "founder-pic") %>
          <br>
          <br>
          <h3>Benjamin L. Brückner</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3 d-flex justify-content-center">
    <div class="col-6 text-center">
      <p>We are located in Oslo, Norway</p>
      <p><span><i class="far fa-envelope"></i></span> contact@fmea.com</p>
      <p><span><i class="fas fa-phone"></i></span> 92 26 80 35</p>
      <h2 class="mt-4">Careers</h2>
      <p>We are always on the look out for talent, if you are interested, please drop us a mail.</p>
      <h2 class="mt-4">Pricing</h2>
      <p>FMEA.lite is currently free for use and opensource.</p>
      <h2 class="mt-4">Terms of Service</h2>
      <p>All rights reserved.</p>
    </div>
  </div>
</div>
