<div class="container my-5">
  <div class="row my-3 d-flex justify-content-center">
    <div class="col-6 text-center">
      <h1>Contact Details</h1>
      <p>We are located in Oslo, Norway</p>
      <p><span><i class="far fa-envelope"></i></span> contact@fmea.com</p>
      <p><span><i class="fas fa-phone"></i></span> 92 26 80 35</p>
      <h2 class="mt-4">Careers</h2>
      <p>We are always on the look out for talent, if you are interested, please drop us a mail.</p>
    </div>
  </div>
</div>
