<div style="width: 250px; height: 100px;" class="m-4">
  <%= render "fmeas/collab_fmea/card_collab", element: Cause.first %>
</div>

<div style="width: 400px; height: 150px;" class="m-4">
  <%= render "fmeas/collab_fmea/card_collab", element: Cause.last %>
</div>

