<div class="container bg-light py-5">
<div class="my-container" style="width:300px">
  <%= render 'fmeas/edit_fmea/card_content', element: Function.last %>
  <br>
  <%= render 'fmeas/edit_fmea/card_content', element: FailureMode.last %>
  <br>
  <%= render 'fmeas/edit_fmea/card_content', element: Cause.last %>
  <br>
  <%= render 'fmeas/edit_fmea/card_content', element: Effect.last %>
</div>
</div>