<div class="container">
<div class="row">
<div class="col-6">
<div class="card-structure-main">
  <div class="card-structure-top"></div>
  <div class="card-structure-bottom">
    <div class="card-structure-bottom-left">
      <div class="left-top"></div>
      <div class="left-bottom"></div>
    </div>
    <div class="card-structure-bottom-right" >
      <%= render "fmeas/edit_fmea/card_content", element: Effect.second %>
    </div>
  </div>
</div>
<div class="card-structure-main">
  <div class="card-structure-top"></div>
  <div class="card-structure-bottom">
    <div class="card-structure-bottom-left">
      <div class="left-top"></div>
      <div class="left-bottom"></div>
    </div>
    <div class="card-structure-bottom-right" >
      <%= render "fmeas/edit_fmea/card_content", element: Effect.first %>
    </div>
  </div>
</div>
</div>
</div>
</div>
