.all-add-cards-buttons {
  width: 100px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 50px;
  display: flex;
  flex-direction: column;
}

.add-card-button {
  text-align: center;
  transition: all .2s ease-in-out;
  padding: 5px 10px;
  p {
    padding: 0;
    margin: 0 0 0 0;
    font-size: 12px;
  }
}

.add-card-button:hover {
  transform: scale(1.07);
}

// -------- Here come the select-classes for the cards(function, fm, cause, effect)

.selected-function {
  transition: all .2s ease-in-out;
  border: 2px solid $blue;
  border-radius: 18px;
}

.selected-failuremode {
  transition: all .2s ease-in-out;
  border: 2px solid $orange;
  border-radius: 18px;
}

.selected-cause {
  transition: all .2s ease-in-out;
  border: 2px solid $red;
  border-radius: 18px;
}

.selected-effect {
  transition: all .2s ease-in-out;
  border: 2px solid $green;
  border-radius: 18px;
}

.hidden-button {
  display: none;
}

