.all-add-cards-buttons {
  width: 80px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.add-card-button {
  transition: all .2s ease-in-out;
}

.add-card-button:hover {
  transform: scale(1.07);
}

// -------- Here come the select-classes for the cards(function, fm, cause, effect)

.selected-function {
  border: 2px solid $blue;
  border-radius: 4px;
}

.selected-failuremode {
  border: 2px solid $orange;
  border-radius: 4px;
}

.selected-cause {
  border: 2px solid $red;
  border-radius: 4px;
}

.selected-effect {
  border: 2px solid $green;
  border-radius: 4px;
}

.hidden-button {
  display: none;
}

.disselected {
  opacity: 0.5;
}
