.btn-ghost {
  color: $gray;
  border: 1px solid $gray;
  padding: 6px 24px;
  border-radius: 50px;
  font-weight: 300;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
