// Here you'll find the classes for the card in the collaboration mode

.card-collab {
  box-shadow: 3px 3px 10px rgba(black, 0.2);
  border-radius: 3px;
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  transition: all .2s ease-in-out;
  border-radius: 18px;
}

.card-collab:hover {
  box-shadow: 4px 4px 10px rgba(black, 0.4);
}

// .colored-stripe-cause {
//   background-color: transparent;
//   width: 5px;
// }

// .colored-stripe-effect {
//   background-color: $green;
//   width: 5px;
// }





// Here comes all the hacky scss to force the simple form into displaying correctly.

.card-collab-form {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  padding-right: 20px;
  width: 100%;
  color: $gray;
}

.card-collab-description-cause {
  width: 100%;
  text-align: left;
  flex-grow: 1;
  margin-left: 9px;
  margin-right: 15px;
  min-height: 100%;
  font-size: 1rem;
  resize: none;
  border: 1px solid rgba(white, 0);
  border-left: 3px solid $red;
  padding: 10px;
  padding-top: 5px;
  border-radius: 3px;
  color: $gray;
  overflow: auto;
  transition: all .2s ease-in-out;

  &:hover {
    border: 1px solid #c3c3c3;
    border-left: 3px solid $red;
  }
}

.card-collab-description-effect {
  width: 100%;
  text-align: left;
  flex-grow: 1;
  margin-left: 9px;
  margin-right: 15px;
  min-height: 100%;
  font-size: 1rem;
  resize: none;
  border: 1px solid rgba(white, 0);
  border-left: 3px solid $green;
  padding: 10px;
  padding-top: 5px;
  border-radius: 3px;
  color: $gray;
  overflow: auto;
  border-left: 3px solid $green;
  transition: all .2s ease-in-out;

    &:hover {
      border: 1px solid #c3c3c3;
      border-left: 3px solid $green;
    }
}


.card-collab-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Here come all the colors for the different ratings

.card-collab-select-rating-green {
  background-color: $green;
  border: 2px solid $green;
  border-radius: 3px;
  color: $gray;
}

.card-collab-select-rating-yellow {
  background-color: $orange;
  border: 2px solid $orange;
  border-radius: 3px;
  color: $gray;
}

.card-collab-select-rating-red {
  background-color: $red;
  border: 2px solid $red;
  border-radius: 3px;
  color: white;
}

// Here comes the chechbox scss

.card-collab-checkbox {
  min-height: 24px;
  min-width: 24px;
  border-radius: 50%;
  // background-color: $green;
  opacity: 0;
}

.checkbox-label .card-collab-custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #c3c3c3;
  color: rgba(0,0,0,0);
  transition: all .2s ease-in-out;
}

.checkbox-label .card-collab-custom-checkbox::after {
  position: absolute;
  left: 12px;
  top: 12px;
  height: 0;
  width: 0;
  border-radius: 50%;
  border: 1px solid #c3c3c3;
  opacity: 1;
  transition: all .2s ease-in-out;
}

.checkbox-label input:checked ~.card-collab-custom-checkbox {
  background-color: $green;
  border-radius: 50%;
  border: 1px solid $green;
  color: rgba(255,255,255,1);
  padding-left: 3px;
  transition: all .2s ease-in-out;
}

.checkbox-label input:checked ~.card-collab-custom-checkbox:after {
  opacity: 1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: 1px solid $green;
  background-color: $green;
  padding-left: 3px;
  transition: all .2s ease-in-out;
}




