

.card-structure-top {
  height: 25px;
  border-left: 2px solid $line-color;
}

.card-structure-bottom {
  display: flex;
  justify-content: flex-start;


  .card-structure-bottom-left {
    display: flex;
    flex-direction: column;

    .left-top {
      width: 25px;
      height: 25px;
      border-left: 2px solid $line-color;
      border-bottom: 2px solid $line-color;
    }

    .left-bottom {
      flex: 1;
      width: 25px;
      border-left: 2px solid $line-color;
    }
  }

  .card-structure-bottom-right {
    min-height: 50px;
    width: 100%;
  }
}

// TM: moved here as part of the card structure not the card buttons
.disselected {
  opacity: 0.5;
}
