.founder-pic {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 18px;
}

.contact-container {
  background-color: white;
  box-shadow: 3px 3px 10px rgba(black, 0.2);
  border-radius: 18px;
  padding: 30px;
  color: $gray;
}
