.one-function:last-child {
  .one-function-top {
    .card-structure-main {
      .card-structure-bottom {
        .left {
          .left-bottom {
            border: none;
          }
        }
      }
    }
  }
}

.one-function:last-child .fm-left {
  border: none;
}

.failure-modes-structure {
  .fm-left {
    width: 50px;
    border-left: 2px solid $line-color;
  }
}

.one-failure-mode {
  display: flex;
  justify-content: flex-start;

}

.one-failure-mode:last-child .left-bottom {
  border: none;
}





