
//----------- Here comes the scss for the functions --------------

.one-function:last-child {
  .one-function-top {
    .card-structure-main {
      .card-structure-bottom {
        .card-structure-bottom-left {
          .left-bottom {
            border: none;
          }
        }
      }
    }
  }
}

.one-function:last-child .fm-left {
  border: none;
}

.one-function-top {
  max-width: 500px;
  min-width: 500px;
}

// ----------- Here comes the scss for the failure modes --------------

.one-failure-mode {
  display: flex;
  justify-content: flex-start;
}

.failure-modes-structure {
  .fm-left {
    width: 50px;
    border-left: 2px solid $line-color;
  }
}

.fm-left {
  min-width: 50px;
}

.fm-right {
  flex-grow: 1;
}

.one-failure-mode-left {
  display: flex;
  justify-content: flex-start;
  min-width: 500px;
  max-width: 500px;
}


.one-failure-mode:last-child {
  .one-failure-mode-left {
    .fm-right {
      .fm-element {
        .left-bottom {
            border: none;
        }
      }
    }
  }
}


// ------------ Here is the scss for the causes -------------

.causes-structure {
  display: flex;
  justify-content: flex-start;

}

.cause-right {
  flex-grow: 1;
}

.cause-left {
  min-width: 50px;
  border-left: 2px solid $line-color;
}

.one-failure-mode:last-child .cause-left {
  border: none;
}


.one-cause:last-child .left-bottom {
  border: none;
}

// -------------- Here is the scss for the effects -----------------

.one-failure-mode-right {
  flex-grow: 1;
}

.effects-top {
  min-height: 50px;
}

.effects-bottom {
  display: flex;
  justify-content: flex-start;
}

.effects-bottom-right {
  flex-grow: 1;
}

.effects-bottom-left-top {
  width: 50px;
  height: 25px;
  border-bottom: 2px solid $line-color;
}


// ---------- Here come the media queries for the responsiveness of the site -------

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
   .one-function-top {
    max-width: 150px;
    min-width: 150px;
  }

  .one-failure-mode-left {
    display: flex;
    justify-content: flex-start;
    min-width: 150px;
    max-width: 150px;
  }

  .effects-bottom-right {
    display: none;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
   .one-function-top {
    max-width: 340px;
    min-width: 340px;
  }

  .one-failure-mode-left {
    display: flex;
    justify-content: flex-start;
    min-width: 340px;
    max-width: 340px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .one-function-top {
    max-width: 450px;
    min-width: 450px;
  }

  .one-failure-mode-left {
    display: flex;
    justify-content: flex-start;
    min-width: 450px;
    max-width: 450px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .one-function-top {
    max-width: 550px;
    min-width: 550px;
  }

  .one-failure-mode-left {
    display: flex;
    justify-content: flex-start;
    min-width: 550px;
    max-width: 550px;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .one-function-top {
    max-width: 650px;
    min-width: 650px;
  }

  .one-failure-mode-left {
    display: flex;
    justify-content: flex-start;
    min-width: 650px;
    max-width: 650px;
  }
}



