.failure-modes-structure {
  .fm-left {
    width: 50px;
    border-left: 8px solid $gray-600;
  }
}

.one-failure-mode {
  display: flex;
  justify-content: flex-start;

}

.one-failure-mode:last-child {
  .fm-right {
    .card-structure-main {
      .card-structure-bottom {
        .left {
          .left-bottom {
            border: none;
          }
        }
      }
    }
  }
}


