.fake-form {
  margin: 0;
  padding: 0;
  display: flex;
  border-left: 5px solid #c3c3c3;
  box-shadow: 3px 3px 10px rgba(black, 0.1);
  width: 100%;
  min-height: 82px;
  transition: all .2s ease-in-out;

  &:hover .fake-card-text {
    color: #3c3c3c;
  }
}

.fake-form:hover {
  box-shadow: 3px 3px 10px rgba(black, 0.2);
  border-left: 5px solid #3c3c3c;
  color: #3c3c3c;
  cursor: pointer;
}

.fake-card-text {
  color: #c3c3c3;
  transition: all .2s ease-in-out;
}

